<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="one_pager">
    <%- include('partials/header'); %> 
    <section>
        <article>
            <h1>One-link Instant Live Polls</h1>
            <p>Create multiple polls with one link and see results in real time</p>
            <a href="/createPoll">Get Started</a>
        </article>
    </section>
</body>
</html>